In [ ]:
Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [37]:
lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [38]:
lst

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [40]:
a = lambda x:sort(x[1]),lst

In [41]:
a

(<function __main__.<lambda>(x)>,
 [('Virat Kohli', 24936),
  ('Jack Kallis', 25534),
  ('Ricky Ponting', 27483),
  ('Sachin Tendulkar', 34357)])

In [42]:
lst.sort(key=lambda x:x[1])

In [43]:
print(lst)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [59]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
a=lambda x:[i**2 for i in lst]

In [88]:
print(a(lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
def sqr(x):
    return x**2
list(map(sqr,lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [89]:
list(map(lambda x:x**2,lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [2]:
string=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
string

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
a = tuple(map(lambda x:str(x), string))

In [36]:
print(a)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [9]:
tuple(map(str,string))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [51]:
lst = []
for i in range(1,26):
    lst.append(i)

In [52]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [53]:
from functools import reduce

In [54]:
reduce(lambda x,y:x*y,lst)

15511210043330985984000000

In [50]:
def product(x,y):
    return x*y

In [56]:
reduce(product,lst)

15511210043330985984000000

In [ ]:
Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [57]:
lst = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [58]:
lst

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [61]:
list(filter(lambda x:x%2 == 0,lst))

[2, 6, 60, 90, 120, 46]

In [63]:
list(filter(lambda x:x%3 == 0,lst))

[3, 6, 9, 27, 60, 90, 120]

In [69]:
list(filter(lambda x:x%2 == 0 and x%3== 0,lst))

[6, 60, 90, 120]

In [ ]:
Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [72]:
lst = ['python', 'php', 'aba', 'radar', 'level']

In [73]:
lst

['python', 'php', 'aba', 'radar', 'level']

In [83]:
list(filter(lambda x: (x == "".join(reversed(x))),lst))

['php', 'aba', 'radar', 'level']